/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #bbb;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.mega-container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

/* Header */

header img{
    width: 150px;
    border-right: 1px solid #bbb;
    padding-right: 20px;
}

nav{
    padding: 30px 0;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 10px;
}

/* Main */

.spotlight{
    height: 350px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: #fff;
}
.spotlight-text{
    padding: 200px 30px 50px 30px;
    width: 60%;
}

.spotlight-text div:first-child{
    font-size: 22px;
}
.spotlight-text div:last-child{
    font-size: 11px;
    padding-top: 10px;
}

/* Main header */

.container{
    margin: 30px 0;
}


.container div{
    display: inline-block;
    border-radius: 10px;
}

#banner-col{
    background-image: url(../img/banner-2.png);
    height: 100px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#img-col-left{
    height: 100px;
    width: 100%;
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container .col,.main-col{
    height: 100px;
    background-color: red;
}

#img-col-right{
    background-image: url(../img/img-3.jpg);
    height: 100px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container .main-col{
    width: 58%;
    padding-left: 30px;
    padding-right: 30px;
}
.container .col{
    width: 20%;
}

.shadow{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 30%;
    
  
}
